@import 'nib'

html, body
	height: 100%

body
	background: url('/image/backgrounds/crowd-blur.jpg') center fixed
	overflow-y: scroll

#queue-wrapper
	padding-bottom: 260px

#player-wrapper
	position: fixed
	width: 100%
	bottom: 0px
	height: 150px
	background: rgba(0, 0, 0, 0.6)

	.player
		position: relative
		float: left
		top: -75px
		padding: 8px

	.prevent
		position: absolute
		z-index: 2
		top: 0px
		left: 0px
		width: 100%
		height: 100%
	.background
		background: rgba(0, 0, 0, 0.6)
		position: absolute
		top: 0px
		left: 0px
		width: 100%
		height: 75px

	#player
		position: relative
		z-index: 1
		height: 200px
		width: 328px

	#buttons
		text-align: center
		margin-top: 52px

		.btn
			margin: 1px

.fake-submit
	height: 0px
	width: 0px
	position: absolute
	top: -9999px
	left: -9999px

.preloader
	background: url('/image/preloader.gif')
	height: 48px
	width: 48px
	margin: 16px auto
	opacity 0.6

#preloader
	position: absolute
	background: url('/image/preloader.gif')
	height: 48px
	width: 48px
	top: 50%
	left: 50%
	margin-top: -24px
	margin-left: -24px
	opacity 0.6

.box
	position: relative
	background: rgba(255, 255, 255, 0.6)
	margin: 0px 0px 8px 0px

	h2, h4
		margin: 0px 0px 6px 0px

	.close
		position: absolute
		top: 8px
		right: 8px
		width: 20px
		height: 20px
		line-height: 15px
		text-align: center

ul.box-list
	margin: 0px
	padding: 0px
	list-style-type: none

	li 
		background: rgba(255, 255, 255, 0.6)
		margin: 0px 0px 2px 0px
		padding: 0px

ul.song-list
	li
		clearfix()

		span.title, span.origin
			padding: 6px 8px

		span.title
			float: left

		span.origin
			float: right

.page, .search, .facebook-login
	padding: 6px 8px 8px 8px

	form
		margin: 0px

.more a
	display: block
	padding: 6px 8px 8px 8px
	text-align: center

.facebook-invalid
	padding: 6px 8px 2px 8px

#fb-button

input[type="text"]
	border-radius 0px
	box-shadow: none
	padding: 8px 12px
	margin: 0px
	min-height: auto
	height: auto

	&:focus
		border-color: rgba(255, 153, 0, 0.8)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6)

.btn, .btn-primary, .btn-success
	border: 0px
	box-shadow: none
	padding: 8px 12px
	margin: 1px 0px

	&.btn-large
		padding: 11px 19px

.btn
	background: rgba(255, 255, 255, 0.8)
	&:hover
		background: rgba(255, 255, 255, 0.9)

.btn-primary
	background: rgba(0, 109, 204, 0.8)
	&:hover
		background: rgba(0, 109, 204, 0.9)

.btn-success
	background: rgba(81, 163, 81, 0.8)
	&:hover
		background: rgba(81, 163, 81, 0.9)



