@import 'nib'

html, body
	height: 100%

body
	background: url('/image/backgrounds/crowd-blur.jpg') center fixed
	overflow-y: scroll

	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif

a
	color: #333

	&:hover, &:focus
		color: #000
		text-decoration: none

#facebook-login
	.box-facebook
		padding: 50px 0px 0px 0px
		position: absolute
		text-align: center
		height: 142px
		margin-top: -71px
		top: 45%

#app-wrapper
	padding-bottom: 260px

#bottom-wrapper
	position: fixed
	width: 100%
	bottom: 0px
	height: 150px
	background: rgba(0, 0, 0, 0.6)

	.player
		position: relative
		float: left
		top: -75px
		padding: 8px

	.prevent
		position: absolute
		z-index: 2
		top: 0px
		left: 0px
		width: 100%
		height: 100%
	.background
		background: rgba(0, 0, 0, 0.6)
		position: absolute
		top: 0px
		left: 0px
		width: 100%
		height: 75px

	#player
		position: relative
		z-index: 1
		height: 200px
		width: 328px

	#buttons
		text-align: center
		margin-top: 52px

		.btn
			margin: 1px

.fake-submit
	height: 0px
	width: 0px
	position: absolute
	top: -9999px
	left: -9999px

.preloader
	background: url('/image/preloader.gif')
	height: 48px
	width: 48px
	margin: 16px auto
	opacity 0.6

#preloader
	position: absolute
	background: url('/image/preloader.gif')
	height: 48px
	width: 48px
	top: 45%
	left: 50%
	margin-top: -24px
	margin-left: -24px
	opacity 0.6

.box
	position: relative
	background: rgba(255, 255, 255, 0.6)
	margin: 0px 0px 8px 0px
	padding: 8px

	h2, h4
		margin: 0px 0px 0px 0px

	.close
		position: absolute
		top: 8px
		right: 8px
		width: 20px
		height: 20px
		line-height: 15px
		text-align: center

ul.box-list
	margin: 0px
	padding: 0px
	list-style-type: none

	li 
		a
			display: block
			background: rgba(255, 255, 255, 0.6)
			margin: 0px 0px 2px 0px
			padding: 8px

			&:hover, &:focus
				background: rgba(225, 225, 225, 0.6)

ul.song-list
	margin: 0px
	padding: 0px
	list-style-type: none

	li
		position: relative
		margin: 0px 0px 2px 0px
		clearfix()

		&.current
			.play, .title, .origin
				background: rgba(175, 175, 175, 0.6)


		.play, .title, .origin
			background: rgba(255, 255, 255, 0.6)
			padding: 8px 0px

		.title
			display: block
			margin-left: 42px
			margin-right: 122px
			padding: 8px 12px
			overflow: hidden
			white-space: nowrap

		.play
			position: absolute
			top: 0
			left: 0
			width: 40px
			text-align: center

			&:hover, &:focus
				background: rgba(225, 225, 225, 0.6)

		.origin
			position: absolute
			top: 0
			right: 0
			width: 120px
			text-align: center

			&:hover, &:focus
				background: rgba(225, 225, 225, 0.6)

.box-page
	h4
		margin: 0px 0px 8px 0px

	form
		margin: 0px

		.controls
			position: relative

			.input
				margin-right: 55px

			.btn
				position: absolute
				top: 0
				right: 0

.box-info
	p
		margin: 6px 0px 0px 0px

a.more
	display: block
	text-align: center

	&:hover, &:focus
		background: rgba(225, 225, 225, 0.6)

input[type="text"]
	border-radius 0px
	box-shadow: none
	padding: 8px 12px
	margin: 0px
	min-height: auto
	height: auto

	&:focus
		border-color: rgba(255, 153, 0, 0.8)
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6)

.btn, .btn-primary, .btn-success
	border: 0px
	box-shadow: none
	padding: 9px 12px
	margin: 0px 0px

	&.btn-large
		padding: 11px 19px

.btn
	background: rgba(255, 255, 255, 0.8)
	&:hover
		background: rgba(255, 255, 255, 0.9)

.btn-primary
	background: rgba(0, 109, 204, 0.8)
	&:hover
		background: rgba(0, 109, 204, 0.9)

.btn-success
	background: rgba(81, 163, 81, 0.8)
	&:hover
		background: rgba(81, 163, 81, 0.9)
