!!! 5
html
	head
		title Playlist Everything Facebook Player

		link(href="/css/lib/bootstrap.css", rel="stylesheet", type="text/css")
		link(href="/css/lib/bootstrap-responsive.css", rel="stylesheet", type="text/css")
		link(href="/css/app.css", rel="stylesheet", type="text/css")

	body
		#preloader
		#wrapper(style="display: none;")
		
			#fb-root

			div(data-ng-controller="LoginCtrl")
				#facebook-login(data-ng-show="visible", style="display: none;")
					.container-fluid
						.row-fluid
							.span12 &nbsp;
						.row-fluid
							.span4.offset4.box
								h3 Baah! Facebook
								a.btn.btn-primary.btn-large(href="", data-ng-click="login()") Login with Facebook

			div(data-ng-controller="AppCtrl")
				#app-wrapper(data-ng-show="visible", style="display: none;")
					.container-fluid
						.row-fluid
							.span12 &nbsp;

						.row-fluid
							.span8.offset2
								div(data-ng-controller="InfoCtrl")
									.box.box-info(data-ng-show="visible", style="display: none;")
										h4(data-ng-bind="title")
										p(data-ng-bind="description")

										a.close(href="", data-ng-click="deselect()") &times;

								div(data-ng-controller="PageCtrl")
									.box.box-page(data-ng-show="visible.all", style="display: none;")
										h4 Find a page ...
										form(data-ng-submit="selectPage()")
											input#url-search.span11.pull-left(type="text", placeholder="Paste a Facebook page url ...", tabindex="1", autofocus, data-ng-model="url")
											a.btn.btn-success.pull-right(href="", data-ng-click="selectPage()") Go!

											input.fake-submit(type="submit", hidefocus)

									.box.facebook-invalid(data-ng-show="visible.invalid", style="display: none;")
										h4 No page found

									.preloader(data-ng-show="visible.loading", style="display: none;")

								div(data-ng-controller="GroupCtrl")
									div(data-ng-show="visible.all", style="display: none;")
										.box
											h4 ... or choose a group!

										ul.box-list
											li(data-ng-repeat="group in groups")
												a(href="", data-ng-click="selectGroup(group)", data-ng-bind="group.name")

										.preloader(data-ng-show="visible.loading", style="display: none;")

								div(data-ng-controller="QueueCtrl")
									ul.song-list
										li(data-ng-repeat="song in songs", data-ng-class="{ current: $index == current }")
											a.play(href="", data-ng-click="play($index)")
												i.icon-play
											span.title(data-ng-bind="song.title")
											a.origin(href="{{song.link}}", data-ng-click="pause()", target="_blank", data-ng-bind="song.origin")

									.more.box(data-ng-show="visible.more", style="display: none;")
										a(href="", data-ng-click="loadSongs()") Load more songs

									.preloader(data-ng-show="visible.loading", style="display: none;")

			div(data-ng-controller="ControlsCtrl")
				#bottom-wrapper(data-ng-show="visible", style="display: none;")
					.container-fluid
						.row-fluid
							.span4.offset2
								#buttons
									a.btn.btn-large(data-ng-click="prev()")
										i.icon-fast-backward
									a.btn.btn-large(data-ng-click="play()")
										i.icon-play
									a.btn.btn-large(data-ng-click="pause()")
										i.icon-pause
									a.btn.btn-large(data-ng-click="stop()")
										i.icon-stop
									a.btn.btn-large(data-ng-click="next()")
										i.icon-fast-forward

							.span4
								.player
									.prevent
									#player
									.background

			//- #queue-wrapper
			//- 	.container-fluid
			//- 		.row-fluid
			//- 			.span12 &nbsp;

			//- 		.row-fluid(data-ng-controller="PageCtrl")
			//- 			.span8.offset2
			//- 				.box.search(data-ng-show="visible.search")
			//- 					h4 Create a playlist
			//- 					form(data-ng-submit="loadPage()")
			//- 						input#url-search.span11.pull-left(type="text", placeholder="Paste a Facebook group or page url and press enter...", tabindex="1", autofocus, data-ng-model="url")
			//- 						a.btn.btn-success.pull-right(href="", data-ng-click="loadPage()") Go!

			//- 						input.fake-submit(type="submit", hidefocus)

			//- 				.box.page(data-ng-show="visible.page", style="display: none;")
			//- 					h2(data-ng-bind="page.name")
			//- 					p(data-ng-bind="page.about")

			//- 					a.close(href="", data-ng-click="unloadPage()") &times;

			//- 				.box.facebook-invalid(data-ng-show="visible.invalid", style="display: none;")
			//- 					h4 No page or group found

			//- 				.box.facebook-login(data-ng-show="visible.private", style="display: none;")
			//- 					h4 This page or group requires facebook login

			//- 					a.btn.btn-primary.btn-large(href="", data-ng-click="login()") Login with Facebook
							
			//- 					// fb:login-button#fb-button(size="large") Login with facebook

			//- 				.preloader(data-ng-show="visible.loading", style="display: none;")

			//- 		.row-fluid(data-ng-controller="SongCtrl")
			//- 			.span8.offset2
			//- 				ul.box-list.song-list
			//- 					li(data-ng-repeat="song in songs") 
			//- 						span.title(data-ng-bind="song.title")
			//- 						span.origin(data-ng-bind="song.origin")

			//- 				.more.box(data-ng-show="visible.more", style="display: none;")
			//- 					a(href="", data-ng-click="loadPosts()") Load more songs

			//- 				.preloader(data-ng-show="visible.loading", style="display: none;")

			//- #player-wrapper
			//- 	.container-fluid
			//- 		.row-fluid
			//- 			.span4.offset2(data-ng-controller="ControlsCtrl")
			//- 				#buttons
			//- 					a.btn.btn-large(data-ng-click="prev()")
			//- 						i.icon-fast-backward
			//- 					a.btn.btn-large(data-ng-click="play()")
			//- 						i.icon-play
			//- 					a.btn.btn-large(data-ng-click="pause()")
			//- 						i.icon-pause
			//- 					a.btn.btn-large(data-ng-click="stop()")
			//- 						i.icon-stop
			//- 					a.btn.btn-large(data-ng-click="next()")
			//- 						i.icon-fast-forward

			//- 			.span4
			//- 				.player
			//- 					.prevent
			//- 					#player
			//- 					.background

		script
			var require = {
				paths: {
					jquery: "/script/lib/jquery",
					"jquery.xdomainajax": "/script/lib/jquery.xdomainajax",
					underscore: "/script/lib/underscore",
					angular: "/script/lib/angular",
					mousetrap: "/script/lib/mousetrap",

					// soundcloud: "//www.soundcloud.com/player/api",
					// youtube: "//www.youtube.com/player_api?noext",
					// facebook: "//connect.facebook.net/en_US/all",

					youtube: "/script/lib/youtube",
					facebook: "/script/lib/facebook",
					soundcloud: "/script/lib/soundcloud"
				},
				shim: {
					"jquery.xdomainajax": {
						deps: ["jquery"]
					}
				},
				urlArgs: Math.random()
			};

		script(src="/script/service.fb.js")
		script(src="/script/model.song.js")

		script(src="/script/urlparser.js")
		script(src="/script/player.abstract.js")
		script(src="/script/player.soundcloud.js")
		script(src="/script/player.youtube.js")
		script(src="/script/player.js")
		script(src="/script/queue.js")

		script(data-main="script/app", src="script/lib/require.js")