!!! 5
html
	head
		title Playlist Everything Facebook Player

		link(href="/css/lib/bootstrap.css", rel="stylesheet", type="text/css")
		link(href="/css/lib/bootstrap-responsive.css", rel="stylesheet", type="text/css")
		link(href="/css/app.css", rel="stylesheet", type="text/css")
	body
		h1 Playlist Everything Facebook Player 

		script(src="/script/app.js")