<!DOCTYPE html>
<html>
  <head>
    <title>Playlist Everything Facebook Player</title>
    <link href="/css/lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/lib/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="preloader"></div>
    <div id="wrapper" style="display: none;">
      <div id="fb-root"></div>
      <div data-ng-controller="LoginCtrl">
        <div id="facebook-login" data-ng-show="visible" style="display: none;">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4 offset4 box box-facebook">
                <h3>Baah! Facebook</h3><a href="" data-ng-click="login()" class="btn btn-primary btn-large">Login with Facebook</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-controller="AppCtrl">
        <div id="app-wrapper" data-ng-show="visible" style="display: none;">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span12"></div>
            </div>
            <div class="row-fluid">
              <div class="span8 offset2">
                <div data-ng-controller="InfoCtrl">
                  <div data-ng-show="visible" style="display: none;" class="box box-info">
                    <h4 data-ng-bind="title"></h4>
                    <p data-ng-bind="description"></p><a href="" data-ng-click="deselect()" class="close">&times;</a>
                  </div>
                </div>
                <div data-ng-controller="PageCtrl">
                  <div data-ng-show="visible.all" style="display: none;" class="box box-page">
                    <h4>Find a page ...</h4>
                    <form data-ng-submit="selectPage()">
                      <div class="controls">
                        <div class="input">
                          <input type="text" placeholder="Paste a Facebook page url ..." tabindex="1" autofocus data-ng-model="url" class="input-block-level">
                        </div><a href="" data-ng-click="selectPage()" class="btn btn-success">Go!</a>
                      </div>
                      <input type="submit" hidefocus class="fake-submit">
                    </form>
                  </div>
                  <div data-ng-show="visible.invalid" style="display: none;" class="box facebook-invalid">
                    <h4>No page found</h4>
                  </div>
                  <div data-ng-show="visible.loading" style="display: none;" class="preloader"></div>
                </div>
                <div data-ng-controller="GroupCtrl">
                  <div data-ng-show="visible.all" style="display: none;">
                    <div class="box">
                      <h4>... or choose a group!</h4>
                    </div>
                    <ul class="box-list">
                      <li data-ng-repeat="group in groups"><a href="" data-ng-click="selectGroup(group)" data-ng-bind="group.name"></a></li>
                    </ul>
                    <div data-ng-show="visible.loading" style="display: none;" class="preloader"></div>
                  </div>
                </div>
                <div data-ng-controller="QueueCtrl">
                  <ul class="song-list">
                    <li data-ng-repeat="song in songs" data-ng-class="{ current: $index == current }"><a href="" data-ng-click="play($index)" class="play"><i class="icon-play"></i></a><span data-ng-bind="song.title" class="title"></span><a href="{{song.link}}" data-ng-click="pause()" target="_blank" data-ng-bind="song.origin" class="origin"></a></li>
                  </ul><a href="" data-ng-click="loadSongs()" data-ng-show="visible.more" style="display: none;" class="box more">Load more songs</a>
                  <div data-ng-show="visible.loading" style="display: none;" class="preloader"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-controller="ControlsCtrl">
        <div id="bottom-wrapper" data-ng-show="visible" style="display: none;">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span4 offset2">
                <div id="buttons"><a data-ng-click="prev()" class="btn btn-large"><i class="icon-fast-backward"></i></a><a data-ng-click="play()" class="btn btn-large"><i class="icon-play"></i></a><a data-ng-click="pause()" class="btn btn-large"><i class="icon-pause"></i></a><a data-ng-click="stop()" class="btn btn-large"><i class="icon-stop"></i></a><a data-ng-click="next()" class="btn btn-large"><i class="icon-fast-forward"></i></a></div>
              </div>
              <div class="span4">
                <div class="player">
                  <div class="prevent"></div>
                  <div id="player"></div>
                  <div class="background"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var require = {
       paths: {
        jquery: "/script/lib/jquery",
        "jquery.xdomainajax": "/script/lib/jquery.xdomainajax",
        underscore: "/script/lib/underscore",
        angular: "/script/lib/angular",
        mousetrap: "/script/lib/mousetrap",
        
        // soundcloud: "//www.soundcloud.com/player/api",
        // youtube: "//www.youtube.com/player_api?noext",
        // facebook: "//connect.facebook.net/en_US/all",
        
        youtube: "/script/lib/youtube",
        facebook: "/script/lib/facebook",
        soundcloud: "/script/lib/soundcloud"
       },
       shim: {
        "jquery.xdomainajax": {
         deps: ["jquery"]
        }
       },
       urlArgs: Math.random()
      };
      
    </script>
    <script src="/script/service.fb.js"></script>
    <script src="/script/model.song.js"></script>
    <script src="/script/urlparser.js"></script>
    <script src="/script/player.abstract.js"></script>
    <script src="/script/player.soundcloud.js"></script>
    <script src="/script/player.youtube.js"></script>
    <script src="/script/player.js"></script>
    <script src="/script/queue.js"></script>
    <script data-main="script/app" src="script/lib/require.js"></script>
  </body>
</html>